// MD Arif Islam

// ========================= SASS Variables====================

$primary-color: blue;
$secondary-color: #fa5252;
$primary-color-2nd: rgb(159, 159, 248);
$background: rgb(243, 243, 253);
$text-color: #444;
$box-shadow: 5px 13px 13px 5px rgb(183, 183, 253);
$hover-box-shadow: 0px 13px 13px 0px rgba(249, 85, 109, 0.4);
$background-color: #e8e6fe;
$background-color2: #f4f4f4;
$background-color3: #f2f3fe;
$font:'Montserrat', sans-serif;

@import "./style";
